<h1>Blog Posts</h1>
<% @posts.each do |post| %>
  <div class="post">
    <h3><%= link_to post.title, post %></h3>
    <p><%= post.body %></p>
    <p class="links"> <%= link_to "Read More", post %></p>
  </div>
<% end %>
