<div class="post">
  <h1><%= @category.name %></h1>
  <% if @posts.each do |post| %>
    <h3><%= link_to post.title, post %></h3>
    <p><%= post.body %></p>
  <% end.empty? %>
    <p>Sorry there is no posts for this category</p>
  <% end %>
  <%= link_to "Back to categories", categories_path %>
</div>
